$blue: rgb(0, 153, 255);

.nosso-servico {

    &__box {
        height: 100vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 2rem;
        background: rgba(255, 255, 255, 0.13);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(7.1px);
        -webkit-backdrop-filter: blur(7.1px);
        border: 1px solid rgba(255, 255, 255, 0.23);
        margin: 1rem;
        box-sizing: border-box;


        &__card {
            width: 400px;
            height: 450px;
            background-color: white;
            border-radius: 8px;
            -webkit-box-shadow: 0px 0px 77px -13px rgb(212, 212, 212);
            -moz-box-shadow: 0px 0px 77px -13px rgb(212, 212, 212);
            box-shadow: 0px 0px 77px -13px rgb(212, 212, 212);
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            &__text {
                & h2 {
                    text-align: center;
                    color: black;
                    margin-top: 4rem;
                    font-size: 2rem;
                }

                & p {
                    color: black;
                    font-size: 1.4rem;
                    padding: 2rem;
                    text-align: justify;
                }
            }

            & svg {
                font-size: 5rem;
                border-radius: 50%;
                padding: 1rem;
                background-color: $blue;
                margin-top: -2rem;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .nosso-servico {

        &__box {
            flex-direction: column;
            height: min-content;
            padding: 3rem 1rem;
            gap: 4rem;

            &__card {
                width: 100% !important;
                height: min-content !important; 
                
                & h2 {
                    margin: 0;
                }
            }
        }
    }
}