$blue: rgb(0, 153, 255);

.navbar {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;

    &__checkbox {
        display: none;
    }

    & label {
        display: none;
    }

    &__logo {
        width: 200px;
        transition: 0.2s all;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__list {
        display: flex;
        gap: 3rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;

        &__item {
            display: inline;

            &__link {
                font-size: 1.4rem;
                transition: 0.1s all;
                padding: 1rem;
                cursor: pointer;
                color: white;
                text-decoration: none;

                &:hover {
                    background-color: white;
                    color: $blue;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        &__list {
            display: none;
        }

        &__checkbox {
            display: none;
        }

        &__checkbox:checked ~ &__list {
            display: block;
        }

        & label {
            display: block !important;
        }

        &__list {
            position: absolute;
            top: 6rem;
            right: 2rem;
            width: 60%;
            flex-direction: column;
            background-color: $blue;
            padding: 1rem;

            &__item {
                display: block;
                width: 100%;

                &__link {
                    width: 100%;
                    padding: 0 !important;
                    margin: 0 !important;
                    color: white;
                }

                
            }
        }
    }
}