.footer {
    background-color: #2b272b;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
    }
}